/*
Bottom BG Purple: #1E0576
Buttons: #F47B20
RED: #ED174F
BLUE: #0069AA

*/

html, body {
    background-color: #4c0099;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
	text-align: center;
	font-weight: 700;
}

ul
{
	padding-left: 20px;
	padding-right: 20px;
	color: white;
    list-style-type: none;
}

/*
label {
    display: inline-block;
    width:100px;
    text-align: right;
}
*/
div{
	padding: 0;
}



.left {
    float: left;
}

.right {
    float: right;
}

.red{
	background-color: #ED174F;
	padding: 0;
	float: left;
	color: #ffffff;
}

.blue{
	background-color: #0069AA;
	padding: 0;
	
}



/* ******************************
          TITLE SCREEN
     (intro-screen-template)
   ****************************** */

#gameArea {
    height: 100%;
    width: 100%;
}


#top{
	position: absolute;
	top: 0; 
	left: 0;
	width: 100%;
	height: 60%;
	background-color: #ffffff;
	color: #1E0576;
	padding: 0;
}

#bottom{
	position: absolute; 
	top: 60%;
	left: 0;
	width: 100%;
	height: 40%;
	min-height: 40%;
	font-family: 'Quicksand', sans-serif;
	font-weight: 700;
	overflow:auto;
	background-color:  #1E0576;	
	color: #ffffff;
	padding: 30px;
}

#bottom .btn-block{
	height: 100%;
	border-radius:2em;
	font-family: 'Quicksand', sans-serif;
	font-weight: 700;
}

.btn-info{
	font-weight: 700;
}

#title{
	position: absolute;
	font-family: 'Quicksand', sans-serif;
    font-weight: 900;
	font-size: 70px;
	top: 0; 
	left: 0;
	width: 100%;
	height: 20%;
	min-height: 20%;
	background-color: #1E0576;
	color: #ffffff;
	padding: 0;
}

#topBody {
	position: absolute;
	top: 20%;
	font-family: 'Quicksand', sans-serif;
    font-weight: 400;
	font-size: 1em;
	width: 100%;
	min-height: 40%;
	padding-top: 10px;
}
#topBodyLeft {
	text-align:right;
}
#topBodyRight {
	text-align: left;
}


#topButton {
	position: absolute;
	top: 80%;
	font-family: 'Quicksand', sans-serif;
    font-weight: 900;
	font-size: 1em;
	width: 100%;
	min-height: 20%;

}

#redScore {
	font-family: 'Quicksand', sans-serif;
    font-weight: 900;
	font-size: 4em;
	height: 100%;
	min-height: 40%;
	color: #ffffff;
	background-color: #ED174F;
	vertical-align: middle;
	float: left;
	padding: 0;
}
#blueScore {
	font-family: 'Quicksand', sans-serif;
    font-weight: 900;
	font-size: 4em;
	color: #ffffff;
	min-height: 20%;
	background-color: #0069AA;
	float: right;
	padding: 0;
}
#redTeamName,
#blueTeamName{
	font-family: 'Quicksand', sans-serif;
    font-weight: 900;
	font-size: 2em;
	padding: 0;

}

.teamTitle{
	font-family: 'Quicksand', sans-serif;
    font-weight: 400;
	font-size: 2em;
	min-height: 20%;
	background-color: #C9CBCC;
	color: #4c0099;
	padding: 0;
	margin: 0 auto;
}



.scoreBtn{
	display: inline-block;
    margin-bottom: 0;
    color: #FFFFFF;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 2em;
    line-height: 2em;
    text-align: center;
    background-color: #00A5D9;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
	

}

.buttons {
    width: 100%;
    text-align: center;
}

.buzz {
    display: inline-block;
    height: 100%;
    width: 100%;
    margin-bottom: 0;
    color: #FFFFFF;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 2em;
    line-height: 2em;
    text-align: center;
    background-color:#00A5D9;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
	/*border-radius:2em;*/
	border-top-left-radius: 2em;
	border-top-right-radius: 2em;
	border-bottom-left-radius: 2em;
	border-bottom-right-radius: 2em;
}

@media (max-width : 480px) {
	#title {
		font-size: 30px;
	}
	
	#bottom{
		font-size: 60px;
	}
	
	.buzz{
		font-size: 60px;
	}
	
	#bottom .btn-block{
		60px;
	}
}

/* Small Devices, Tablets */
@media (min-width: 481px) and (max-width : 768px) {
	#title {
		font-size: 50px;
	}
	
	#bottom{
		font-size: 100px;
	}
	
	#bottom .btn-block{
		font-size: 100px;
	}
	
	.buzz{
		font-size: 100px;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 769px) {
	#bottom{
		font-size: 140px;
	}
	
	#bottom .btn-block{	
		font-size: 140px;
	}
	
	.buzz{
		font-size: 140px;
	}
  
}

